.welcome-mensage{
    margin: 12rem 9rem 20rem;
    font-size: 2.3rem;
}

.home-about{
    margin: 4rem;
    padding: 3.5rem;
    background-color: #1B1464;
    border-radius: 1rem;
}

.home-about div{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.home-about p{
    width: 50%;
}

.home-about img{
    width: 50%;
    border-radius: 1rem;
}

